html
    head
        title To-Do List
    body
        h1 To-Do List
        form(action='/todos', method='post')

            label(for="title") Title:
            input(type="text", id="title", name="title" required)
            label(for="description") Description:
            input(type="text", id="description", name="description" required)
            button(type="submit") Add Item
        ul
            each todo in todos
                li= todo.description
                li= todo.title

